<%=form_for :forgot_password,:url=>{:controller=>"forgot_password",:action=>"forgot_password_create"},:html=>{:id=>"forgot_password_id"} do |f|%>

<label class="mg-label" for="selectType"><%= t ('select_type') %><span class="required-field">&nbsp;*</span></label>


 <%=select_tag :type_id,options_for_select([["User Id","user_id"],["Email","email"]]),:prompt=>"Select"%>

  <div id="password_field1" class="password-Divs-Class" style="display: none;">

        <label class="mg-label"  for="validFrom"><%= "Enter User Id" %><span class="required-field">&nbsp;*</span></label>
        </div>
    <div id="password_field2" class="password-Divs-Class" style="display: none;">

        <%= text_field_tag :user_id ,nil,:class=>"mg-text-field"%><br/>
        </div>
        

 <div id="password_field3" class="password1-Divs-Class" style="display: none;">

        <label class="mg-label"  for="validFrom"><%= t ('enter_email_id') %><span class="required-field">&nbsp;*</span></label>
        </div>
    <div id="password_field4" class="password1-Divs-Class" style="display: none;">

        <%= text_field_tag :email_id ,nil,:class=>"mg-text-field"%><br/>
        </div>
<br/><br/>

 <div id="password_field5" class="password2-Divs-Class" style="display: none;">

<%= submit_tag t("save"),:class=>"mg-small-form-btn"%>
 <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
 </div>

<%end%>

<script>


$(document).ready(function () {

 	 


		$("#forgot_password_id").validate({


		rules: {
		 "email_id": {required: true,  email: "Your email must be in the format of name@domain.com"},
		"user_id": {required: true},

		},

		
    	
		});
	});
 $(document).on("change","#type_id",function(e){

	var data_value=$("#type_id").val();

 	if(data_value=="user_id"){
  
      $(".password-Divs-Class").show();
      $(".password1-Divs-Class").hide();
      $(".password2-Divs-Class").show();

 }
      else if(data_value=="email"){

      $(".password1-Divs-Class").show();
      $(".password2-Divs-Class").show();

    $(".password-Divs-Class").hide();
 }
     else{

      $(".password-Divs-Class").hide();
      $(".password1-Divs-Class").hide();
      $(".password2-Divs-Class").hide();


    }


    
 });
</script>