<!-- Sec --> 
<%= fields_for (phone_types) do |cnt| %>
<div class="row mc-padding-20 form-section-box">
      <%= cnt.hidden_field :is_deleted, :value => 0 %>
      <%= cnt.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
      <%if phone_types=="home"%>
        <%= cnt.hidden_field :phone_type, :value => "home" %>
      <%end%>

      <%if phone_types=="personal"%>
       <%= cnt.hidden_field :phone_type, :value => "personal" %>
      <%end%>

      <%if phone_types=="phone"%>
         
         <%= cnt.hidden_field :phone_type, :value => "phone" %>
         <%= cnt.hidden_field :notification, :value => 0 %>
         <%= cnt.hidden_field :subscription, :value => 0 %>

        <!--  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
                <label   for="phone_number"><%#= t('phonenumber') %>&nbsp&nbsp
                  <a href="#" data-toggle="tooltip" class="pull-right" title="Can enter digits only. No arbitrary symbols like -,*,#,etc are allowed. Phone Number should not be initialised with 0, eg: If your number is 06542-2651XX, then enter it like 65422651XX. No need to mention \'0\' in the beginning."><i class="fa fa-question-circle-o fa-lg"></i></a>
                </label>
               <%#= cnt.text_field :phone_number , :minlength => "10", :maxlength => "10",:class=>"form-control"%>  
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
        </div> -->

      <%end%> 

                   
      <%if phone_types=="mobile"%>
             
        <%= cnt.hidden_field :phone_type, :value => "mobile" %>

              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label   for="phone_number"><%= t('mobilenumber') %><span class="required-field">*</span></label>
                <%= cnt.text_field :phone_number ,:class=>"form-control valid"%>
              </div>

              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label   for="notification" ><%= t('notification') %></label>
                <br>
                <%= cnt.check_box :notification %>
              </div>

              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label  for="subscription"  ><%= t('subscription') %></label>
                <br>
                <%= cnt.check_box :subscription %>
              </div>

        <%end%>

      </div>

      <% end %>  

<script type="text/javascript">
$(document).ready(function () {
    // $("#guardianPrincipleProfileContactEditFormID").validate({

    // rules: {

    // "mobile[phone_number]": {required: true},

    // "email[mg_email_id]": {required: true}
    // }
    // });
});
</script>
