<% navigation_add t('archive_student'),'/students/student_archive_list' %>
<div>
 <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mc-margin-bottom-20 ">
              <h3 class="form-section-heading mc-margin-bottom-20">
                 <b class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><%= t("archive_student") %></b></h3></div></div>
<a class="createStudentArchive" href="/students/student_archive/" id="createStudents_archive">
<button id='create_student_archive' class="mg-btn-bottom-margin submit mc-margin-bottom-20 flat-button">Create Student Archive</button></a>



<% if @student_list.length > 0 %>
  <div class="mg_pagination">

    <div class="student-table-div-cls">

        <table class="table table-bordered table-striped" id="archiveList">
          <thead>
            
            <tr class="student-table-header">
              <th><%=t("name")%></th>
              <th><%=t("admission_number")%></th>
              <th><%=t("user_id")%></th>
              <th><%=t("class&section")%></th>
              <th><%= t("gender") %></th>
              <th><%= t("archive_date") %></th>
              <th><%= t("action") %></th>
            </tr>
          </thead>
          <tbody>
            
            <% @student_list.each do |student| %>
            <tr class="even">
              <td><%=  student.first_name  %> <%= student.middle_name  %> <%= student.last_name  %></td>
              <td><%=  student.class_roll_number%></td>
              <td><%= student.admission_number %></td>
              <% @batch_name = MgBatch.find_by_id(student.mg_batch_id)
                if( !@batch_name.nil?)
                 @course_name = MgCourse.find_by_id(@batch_name.mg_course_id)
                 @batch_name = (@course_name.course_name) + "-"+@batch_name.name 
               end
              %>
              <%#= @batch_name %>
               
              <% if !@batch_name.nil? %>
                <td>
                   <%= @batch_name %>
                </td>
             <%else%>
                <td>--</td>
            <%end%>   
              
              
              <td class="mg-capitalize-text"><%= student.gender %></td>
              <td class="mg-capitalize-text"><%= student.archive_date.strftime("%d/%m/%Y") if student.archive_date.present? %>
</td>
              <td>
                <!-- <span class="mg-padding-nil"> -->
                <a href="/students/student_unarchive/<%=student.id %>" title="Unarchive" class="student-unarchive mg-icon-btn mg-icon-btn" style="cursor: pointer; text-decoration: none;" id="Unarchive-<%=student.id %>" onclick="return confirm('Are you sure to Unarchive?')"><i class="fa fa-file-archive-o"></i></a>

                <!-- </span> -->
                  <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, {controller: "students", action: "show" ,id:student.id } ,:title=>"Show" ,:class=>"mg-icon-btn" %>
                   <%= link_to "<i class=\"fa fa-pencil\"></i>".html_safe, {controller: "students", action: "edit_archive_student" ,id:student.id } ,:title=>"Edit" ,:class=>"mg-icon-btn" %>
                   <%=link_to "<i class=\"fa fa-user\"></i>".html_safe, {controller: "guardians", action: "student_guardian_show", id: student.id },:title=>"Manage Guardian" ,:class=>"mg-icon-btn" ,:style=>"margin-right: 3px;"%>
                   
                  <%= link_to "<i class=\"fa fa-file-o\"></i>".html_safe,"/fees/student_certificates?admission_number=#{student.class_roll_number}&mg_student_id=#{student.id}", {:class=>"mg-icon-btn",:title=>"Student certificates"}%>
                
             </td>
            </tr>

            <% end %>
          </tbody>
           </table>
           
         <!--  <div class="pagination-align">
              <%#= will_paginate @student_list, :container => false %>
           </div> -->
      </div>

      
  </div>

<% else %>
  <h5>No Archived Students </h5>

<% end %>


<script type = "text/javascript">
 $(document).ready(function(){
  $('#archiveList').dataTable({
    sPaginationType: "full_numbers",
    bJqueryUI: true,
    order: [[1,"asc"]],
    columnDefs: [
      {orderable: false , targets: -1}
    ] ,
    "lengthMenu": [10,15,20],
    bDestroy: true
  });
    // reload();
 });
 </script>
