<!-- Sec --> 
<% navigation_add 'Student Custom Fields', '/students/custom_new' %>
<% navigation_add 'Edit Student Custom Fields', '/students/custom_fields_edit/'+@id.to_s %>
    <h4 class="form-section-heading mc-margin-bottom-20">Edit Student Custom Fields</h4>

<%= form_for :student_custom_field,  :url=>{:controller=> "students", :action=> "custom_fields_update", :id=>@student_custom_field.id} ,:html => { :id => "editStudentCustomFieldsFormID" ,:multipart => true } do |f| %>
    <div class="field1">

      <%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id]%>
     
      <%= f.hidden_field :model_name, :value => "student"%>
    </div>
  <div class="row mc-padding-20 form-section-box">

  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <label for="mg-label"><%=t('fieldname')%><span class="required-field "> *</span></label>
      <%= f.text_field :name ,:class=>"form-control"%>
    </div>

  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <label for="mg-label"><%=t('fieldtype')%><span class="required-field "> *</span></label><br>
  <%= f.select :data_type, options_for_select([["Check Box","check_box"], ["Radio Button","radio_button"],["Input Text","input_type"],["Drop Down","drop_down"]],:selected => @student_custom_field[:data_type]), {:include_blank => 'Select'} ,:class=>"form-control"%>
 </div>

  
  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <label for="Default Value"><%=t('value')%></label><br/>
    <%= f.text_area :text_data ,:class=>"form-control"%>
    </div>

<div style="display:none">
  <p>
    <label for="is_deleted" class="mg-label"><%=t('status')%></label><br>
    <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
    <%= f.radio_button :is_deleted, false , :checked => true%>
    <label for="is_deleted" class="mg-label-inner-form"><%=t('inactive')%></label>
    <%= f.radio_button :is_deleted, true %>
</p>
</div>
</div><br>
  <p class="actions">
    <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%>
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn submit mc-margin-bottom-20 flat-button"><%=t("save")%></a>
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog flat-button cancel-form-dialog margin-left-10"} %>
    </p>
<% end %>

<!-- <span class="mg-cncl-btn-align">
  <button class="cancel-form-dialog btn btn-cancel"><%#= t('cancel') %></button>
</span> -->

<!-- <button class="cancel-form-dialog"><%#= t('cancel') %></button> -->

<script>
  $(document).ready(function(){
    $("#editStudentCustomFieldsFormID").validate({
      rules:{
        "student_custom_field[name]":{required:true},
        "student_custom_field[data_type]":{required:true}
      }
    });
    focusCurrentTab("viewStudentCustomFieldAID","viewStudentCustomFieldLiID");

  });
</script>