<% navigation_add 'Employee Department', mg_employee_departments_path %>
<% navigation_add t('Edit'),'/mg_employee_departments/edit/'+@id.to_s %>
<%= form_for @employee_department, url: mg_employee_department_path, method: :patch, html: {role: :form} do |f| %>
<!--<#%= form_for :article, url: employee_path, method: :patch do |f| %>-->
<h4 class="form-section-heading mc-margin-bottom-20"><%=t('Edit Employee Department')%></h4>

  <div class="row mc-padding-20 form-section-box">
       <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="first_name"><%= t('Department_Name') %><span class="required-field"> *</span></label><br>
          <%= f.text_field :department_name ,:class=>"form-control"%>
   </div>
       <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="first_name"><%= t('Department_Code') %><span class="required-field"> *</span></label><br>
    <%= f.text_field :department_code ,:class=>"form-control"%>
  </div>
<div style="display:none">
    <p>
   
      <%= f.label t('status') ,:class=>"mg-label"%>       <br />
      <%= f.label :status, t("active"), :value => "true"  ,:class=>"mg-label-inner-form" %>
      <%= f.radio_button :status, false , :checked => true%>
      <%= f.label :status, t("inactive"), :value => "false" ,:class=>"mg-label-inner-form" %>
      <%= f.radio_button :status, true %> <br />
    </p>
</div>
</div>
<br>
  <p>
    <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%>
    <a onclick="$(this).closest('form').submit()" id="DepartmentFormID" class="mg-small-form-btn submit mc-margin-bottom-20 flat-button"><%=t("save")%></a>
     <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog flat-button cancel-form-dialog margin-left-10"} %>
  </p>
<% end %>

<!-- <span class="mg-cncl-btn-align">
  <button class="cancel-form-dialog btn btn-cancel"><%= t('cancel') %></button>
</span> -->

<!-- <button class="cancel-form-dialog"><%#= t('cancel') %></button> -->



<script>
  $(document).ready(function(){
    $(".edit_mg_employee_department").validate({
                      rules: {
                "mg_employee_department[department_name]": {required: true},
                "mg_employee_department[department_code]": {required: true},
                "mg_employee_department[status]": {required: true}
                }
    });
    focusCurrentTab("manageEmployeeDepartment","createManDeptLiID");
    
  });


</script>
 