<h4 class="card-title mb-4"><%= t('employeeholidayattendance') %></h4>

<%= form_with(model: @holiday,
              url: @action == 'new' ? "/attendances/employee_holiday_attendance_create" : "/attendances/employee_holiday_attendance_update/#{@holiday.id}",
              method: @action == 'new' ? :post : :patch,
              html: { id: "holidayAttendance" }) do |f| %>

  <%= f.hidden_field :is_deleted, value: 0 %>
  <%= f.hidden_field :mg_school_id, value: session[:current_user_school_id] %>
  <%= f.hidden_field :created_by, value: session[:user_id] %>
  <%= f.hidden_field :updated_by, value: session[:user_id] %>

  <div class="row g-3 mb-4">
    <div class="col-lg-4 col-md-4 col-sm-4 col-12"> 
      <div class="form-group">
        <%= f.label :employee_category, t('select_employee_category'), class: "form-label" %>
        <span class="text-danger">*</span>
        <%= select_tag 'mg_employee_category', 
                      options_for_select(get_employee_category),
                      { prompt: "both",
                        class: "form-select" } %>
      </div>
    </div>

    <div id="replace_data">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12"> 
        <div class="form-group">
          <%= f.label :holiday, t('select_holiday'), class: "form-label" %>
          <span class="text-danger">*</span>
          <%= select_tag 'mg_holiday_id',
                        options_for_select(get_holiday_by_emp_category("")),
                        { prompt: "Select",
                          class: "form-select",
                          onchange: "getStartDateEndDate(this.value)" } %>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-12"> 
        <div class="form-group">
          <%= f.label :department, t('select_employee_department'), class: "form-label" %>
          <span class="text-danger">*</span>
          <%= select_tag 'mg_employee_department_id',
                        options_for_select(get_employee_department),
                        { prompt: "Select",
                          class: "form-select" } %>
        </div>
      </div>
    </div>

    <div id="datepickerChangeDIVID" class="col-lg-4 col-md-4 col-sm-4 col-12">
      <div class="form-group">
        <%= f.label :date, t('date'), class: "form-label" %>
        <span class="text-danger">*</span>
        <%= text_field_tag "day_of_presence",
                          nil,
                          class: "form-control holiday-dates" %>
      </div>
    </div>
  </div>

  <div id="employeeTable" class="col-lg-12 col-md-12 col-sm-12 col-12">
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $(".content-tab").tabs();
    focusCurrentTab("employeeHolidayAttendanceAID","employeeHolidayAttendanceLiID");
    focusAttendance();
  });

  $(document).on("change", "#day_of_presence_onchange", function() {
    var department_id = $("#mg_employee_department_id").val();
    var date = $("#day_of_presence_onchange").val();
    var category = $("#mg_employee_category").val();
    var hliday_id = $("#mg_holiday_id").val();
    
    $.ajax({
      url: '/attendances/get_employee_list',
      data: { 
        mg_employee_category_id: category,
        mg_employee_department_id: department_id,
        mg_holiday_id: hliday_id,
        date: date
      },
      success: function(html) {
        $("#employeeTable").html(html);
      }
    });
  });

  $(document).on("click", "#day_of_presence", function() {
    var value = $("#mg_holiday_id").val();
    if (value == "") {
      alert("First Select the Holiday");
    }
  });

  function getStartDateEndDate(holiday_id) {
    $.ajax({
      url: '/attendances/getStartDateEndDate',
      data: { mg_holiday_id: holiday_id },
      success: function(html) {
        $("#datepickerChangeDIVID").html(html);
      }
    });
  }
</script>