<!DOCTYPE html>
<html>
<head>
  <title>SMS</title>
  
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="wrapper" class="header-bg">
    <div id="logo">
    <%= image_tag  MgSchool.find(session[:current_user_school_id]).logo.url(:medium, timestamp: false),:class => 'shr-logo-styling-fixed'  %>

    </div>
     <label style="left: 11%; color: #ffffff; position: relative; top: 32px;"><%=MgSchool.find(session[:current_user_school_id]).school_name%>
      </label> 

    <div id="right-content" class="mg-right-header">
      <div style="float: left;" class="mg-select-school">
      <%user=MgUser.find(session[:user_id]) %>
      <%if user.user_type=='superprincipal' %>
      
      <style type="text/css">
       .mg-welcom-msg-align {
        float: right;
        position: relative;
        right: -17.2em;
        top: -1.3em;
        }
      </style>

         <% 
           multi_school_access_obj=MgMultiSchoolAccess.where(:mg_user_id=>session[:user_id], :is_deleted=>0).pluck(:mg_school_id) 
             school_list=nil
             if multi_school_access_obj.present?
                school_list=MgSchool.where(:is_deleted=>0, :id=>multi_school_access_obj).pluck(:school_name,:id)
             end
             school_id=session[:current_user_school_id]
         %>

         <%= form_for :principal, url: change_school_path, :html => {
                                :id => 'mgEmployeeLeaveTypesID', :class => 'mgEmployeeLeaveTypesClass' } do |f| %>

            <label class="mg-label" style="color: #ffffff; font-size: 1.1em;"><%=t("select_school")%> </label>&nbsp;
            <%if school_list.present? %>
              <%=f.select :mg_school_id,options_for_select(school_list, school_id   ),{},:onchange => 'this.form.submit();' ,:class=>"mg-select-dropdown-width" %>
            <% else %>
              <select >
              </select>
            <%end%>

         <%end%>

      <%end%>
      </div>
      <div style="float: right;">
      <span>

        <% user=MgUser.find(session[:user_id])
  @help_document=MgHelpDocument.where(:mg_school_id=>session[:current_user_school_id],:user_type=>user.user_type,:is_deleted=>0)%>
        <%if @help_document[@help_document.length-1].present?%>

        <%= link_to_if @help_document[@help_document.length-1].document.url, image_tag("help_icons.png" ,:style=>"width: 40px; height: 40px; position: relative; left: 10px;"), @help_document[@help_document.length-1].document.url ,:class=>"help-doc-style"%>
        <%else%>
              
              <img src="<%=image_url('help_icons.png')%>" style="width: 35px; height: 35px; position: relative; left: 0px; top: -1px; cursor: pointer;" id="imageHelpDocumentId" title="Help Documentation" />


        <%end%>

      </span>

      <span style="margin-right: -17px;"><a class="help-doc-style" href="/notifications/show_notification/"><i class="fa fa-envelope-o" ></i>
        <span class="badge badge-notification"><%= @noti_size %></span></a>
      </span>&nbsp;&nbsp;
     <!--  <span><a href="/videos" target="_blank"> <img src="<%#=image_url('images.jpg')%>" style="width: 35px; height: 35px; position: relative; left: 0px; top: -1px; cursor: pointer;" id="" title="Help" /></a></span> -->

      <span data-tip="Logout"><a class="help-doc-style" href="/log_out"><i class="fa fa-power-off"></i></a></span>&nbsp;&nbsp;
      </div>
  </div><br>

 <%user_data=MgUser.find(session[:user_id])%>
 <!--  <div style="float: right; right: -14.2em; top: 2em; position: relative; ">
     
      <span class="mg-welcom-msg-align" style="color: #ffffff; margin: 20px; font-weight: bold;">Welcome <%=user_data.first_name%> !!!</span>
  </div>
 -->

    </div><br/>
   <!--   id="wrapperContainer"-->
  </header><br>
  <br>
   <div id="wrapper1">
  <section id="navigation-bar">
  <%userType=session[:user_type]%>
  <%if userType == "admin" || userType == "principal" ||  userType == "cloudadmin" || userType == "superprincipal" || session[:user_type]=="sub_admin"%>
      <div class="mg-scroll-header-nav-bar">
  <%end%>

          <%= render :partial => 'headerBoxes' %> 
        <%#= render :partial => 'faq_header_boxes' %> 
      </div>
  </section>
  </div> 
  <section  id="wrapper1">
      <!-- render breadCrumbs Here -->
      <%= render :partial => 'breadCrumbs' %>
  </section><br>
<div style="position: absolute; right: 180px;">
<%#= form_tag "/videos/search", :method => 'post' do %>

                   <!--  <p ><i class="icon-search"></i> -->
                    <%#= text_field_tag :search,nil, placeholder: 'search',:value=>@search,:class=>"mg-text-field fom-keyup-search-class" %>
<!--                       <i id="filtersubmit" class="fa fa-search"></i></p>
 -->
                      <!-- <p style="display:none;"> -->
                      <%#= submit_tag " Search", :class=> 'special_input'%>
                      <!-- </p> -->
                    <%# end %>
  
</div><br><br>
<div id="wrapper1", class="blue-strip"></div>
<a href="#" class="mg-scrollToTop">
  <img src="/images/scroll-to-top.png" alt="Scroll To Top" class="mg-scroll-top"/> 
</a>

<%= yield %>

		
<footer class="sms-display-in-block sms-w100" id="Footer">
		<div class="sms-float-left">
		<div class="sms-footer-align">
			<a href="">Terms &amp; Condition</a>|
			<a href="">Privacy Policy</a>|
			<a href="">About Us</a>|
			<a href="">Contact Us</a>
		</div>
		</div>
		<div class="sms-float-right">
			<span class="sms-footer-powered-content">Copyright © 2017 </span>
      <a href="http://www.mindcomgroup.com"><img src='<%=image_url("mindcom logo1.png") %>' style=" height: 30px; position: relative; top: -9px; width: 80px;"></a>
    <span class="mg-powered-by-text">All Rights Reserved &nbsp;</span>

		</div>
	</footer>

</body>
</html>
<script type="text/javascript">
  $(".fom-keyup-search-class").keyup(function(){
    text_count=$(this).val();
    if (text_count.length>2)
    $(".special_input").click();
})
</script>
<style type="text/css">


	#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0px;
}

	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}

	a:hover {
		text-decoration: none;
	}

	.sms-float-left {
		float: left;
	}
#wrapper1 {
    width: 960px;
    margin: 0px auto;
    padding: 0px;
    /*position: relative;*/
  }
  .blue-strip{
  background: grey;
  height: 1px;
  top: 63px;
  z-index:-1; 
}
	.sms-float-right {
		float: right;
	}

	.sms-display-in-block {
		display: inline-block;
	}

	.sms-w100 {
		width: 100%;
	}

	.sms-font-white {
		color: #ffffff;
	}

	.sms-center-align {
		text-align: center;
	}

	.sms-list-inline {
		display: inline;
	}

	.sms-list-inline li{
		list-style: none;
		display: inline-block;
	}


	header {
		
	}
	nav {
		background: #56afd8;
		margin: -5px 0 0;
		color: #ffffff;
		height:32px;
	}
	
	
	footer {
		padding: 10px;
		background: #383838;
		margin-bottom: -10px;
	}

	.sms-footer-align {
		color: #ffffff;
		text-align: center;
	}

	.sms-footer-align a {
		color: #ffffff;
		margin: 10px;
	}

	.sms-footer-powered-content {
		color: #ffffff;
	}
	
	.sms-mindcom-footer-logo {
		margin-top: -13px;
		width: 90px;
	}
	



.mg-msg-logout-icon {
  margin: 15px 0px 15px 15px;
}

.mg-select-school {
  font-size: 0.6em;
  position: relative;
  top: 10px;
}

#right-content{
  float:right;
  font-size: 1.5em; 
  /*height:70px;*/
  margin: 8px;
  /* width: 440px; */
}

.mg-left-content {
  display: inline-block; 
  float: left; 
  width: 450px; }

.mg-form-header {
  float: left;
}

.mg-welcom-msg-align {
  right: 25px;
  position: relative;
 }

.mg-scrollToTop{  
    padding:10px; 
    text-align:center; 
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom: 2px;
    right:40px;
    display:none;
    /*background: url('../images/scroll-to-top.png') no-repeat;*/
    z-index: 1;
  }

  .mg-scrollToTop:hover{
    text-decoration:none;
  }
  
  .mg-scrollToTop:focus {
    outline: 0;
  }

  .mg-scroll-top {
    width: 35px;
    height: 35px;
    font-size: 8px;
  }
  
 .mg-scroll-header-nav-bar {
    overflow-y: scroll;
    height: 80px;
    position: relative;
    top: 10px;
    box-shadow: 3px 10px 7px -8px #908a89
  }

  .shr-logo-styling-fixed {
    height: 75px;
    left: 5px;
    position: relative;
    top: 6px;
    width: 100%;
    height:100%;
  }

  #logo {
    width: 150px;
    height: 100px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10%;
    height:86%;
}
.badge-notification{
    position: relative;
    top: -12px;
    right: 11px;
    padding: 1px 4px !important;
}

  </style>
   <script type="text/javascript">

    $(document).ready(function(){

      $( "div.mg-scroll-header-nav-bar" ).scrollTop( 0 );
    });
     $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.mg-scrollToTop').fadeIn();
      } else {
        $('.mg-scrollToTop').fadeOut();
      }
    });
    
   
    $('.mg-scrollToTop').click(function(){
      $('html, body').animate({scrollTop : 0},800);
      return false;
    });

    
     $('.mg-scroll-header-nav-bar').scrollTop(70);

    function scrollToTop(scrollDuration) {
    var scrollStep = -window.scrollY / (scrollDuration / 15),
        scrollInterval = setInterval(function(){
        if ( window.scrollY != 0 ) {
            window.scrollBy( 0, scrollStep );
        }
        else clearInterval(scrollInterval); 
    },15);
}


  </script>
